.timeline {
    margin: 0 auto;
    padding: 1rem 0;
}

.timeline h1 {
    font-size: 2em;
    text-align: center;
}

.timeline__items {
    list-style: none;
    margin-left: 0.75em;
}

.timeline__item {
    padding: 0 0 0.75rem 1.25rem;
    position: relative;
    text-align: left;
}

.timeline__item br {
    display: none;
}

.timeline__item:before,
.timeline__item:after,
.timeline__item .timeline__item-pub,
.timeline__item .timeline__item-time,
.timeline__item .timeline__item-link {
    transition:
        background-color var(--trans-dur),
        opacity var(--trans-dur) cubic-bezier(0.65, 0, 0.35, 1),
        border-bottom-color var(--trans-dur) cubic-bezier(0.65, 0, 0.35, 1),
        transform var(--trans-dur) cubic-bezier(0.65, 0, 0.35, 1);
}

.timeline__item:before,
.timeline__item:after {
    /* background-color: var(--primary); */
    background-color: var(--text);
    content: "";
    display: block;
    position: absolute;
    left: 0;
}

.timeline__item:before {
    border-radius: 50%;
    top: 0.25em;
    width: 1em;
    height: 1em;
    transform: translateX(-50%) scale(0);
    z-index: 1;
}

.timeline__item:after {
    top: 0.75em;
    width: 0.125em;
    height: 100%;
    /* background-color: snow; */
    transform: translateX(-50%);
}

.timeline__item:last-child:after {
    display: none;
}
.timeline__item:last-child{
    padding-bottom: 0;
}

.timeline__item-pub,
.timeline__item-link,
.timeline__item-time {
    display: block;
    opacity: 0;
    transform: translateX(-0.75em);
}

.timeline__item-attachments {
    display: grid;
    gap: 0.75rem;
    overflow: hidden;
    padding-right: 0.25rem;
    grid-template-columns: repeat(2, 1fr);
}
.timeline__item-attachments.single {
    grid-template-columns: repeat(1, 1fr);
}
.timeline__item-attachments.hide {
    transition: max-height var(--trans-dur) ease-out;
    max-height: 0px;
}
.timeline__item-attachments.show{
    transition: max-height var(--trans-dur) ease-in;
    max-height: 100%;
}

.timeline__item-attachments img{
    width: 100%;
    border-radius: 4px;
}
.timeline__item-attachments.show img{
    transition: opacity var(--trans-dur) ease-in;
    max-height: 100%;
    opacity: 1;
}
.timeline__item-attachments.hide img {
    transition: max-height var(--trans-dur) ease-out var(--trans-dur), opacity var(--trans-dur) ease-out;
    max-height: 0;
    opacity: 0;
}

@media (max-width: 768px) {
    .timeline__item-attachments {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .timeline__item-attachments {
        grid-template-columns: repeat(1, 1fr);
    }
}

.timeline__item-link{
    border-bottom: 1.5px solid transparent;
}
.timeline__item-link[href^="https://"]:hover {
    /* color: var(--primary); */
    /* text-decoration: underline; */
    border-bottom-color: var(--text); 
}

.timeline__item-link[href^="https://"],
.timeline__item-link[href^="https://"]:visited {
    /* color: var(--primary); */
    color: var(--text);
    /* transition: border-bottom-color var(--trans-dur) ease; */
}

.timeline__item-link {
    display: inline-block;
    position: relative;
    top: -1px;
    transition: color var(--trans-dur);
}

.timeline__item-link,
.timeline__item-time {
    font-size: 0.75rem;
    line-height: 1.8;
    font-weight: 500;
    text-transform: uppercase;
}

.timeline__item-pub {
    /* margin-top: 0.05rem; */
    font-size: 0.75rem;
    line-height: 1.67;
    text-wrap: pretty;
    white-space: pre-line;
    text-wrap: pretty;
    figure{
        /* display: grid;
        grid-template-columns: 1fr;
        padding-top: 0.25rem;
        gap: 0.25rem; */
        img{
            max-width: 100%;
        }
    }
}

.timeline__item-categories{
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    margin-top: 0.35rem;
}
.timeline__item-category {
    font-size: 0.55rem;
    font-weight: 500;
    padding: 0.15rem 0.25rem;
    background-color: var(--fg);
    border-radius: 2px;
    color: var(--bg);
    cursor: pointer;
    text-transform: uppercase;
    border: 1.5px solid var(--fg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.05rem;
    padding: 0.15rem 0.25rem;
}

.timeline__item-category:hover {
    color: var(--fg);
    border-color: var(--fg);
    background-color: var(--bg);
}

.timeline__item-category svg,
.timeline__item-control svg {
    width: 0.75rem;
    height: 0.75rem;
}

.timeline__loading {
    text-align: center;
}

/* Observed items */
.timeline__item--in .timeline__item-pub,
.timeline__item--in .timeline__item-link,
.timeline__item--in .timeline__item-time {
    opacity: 1;
    transform: translateX(0);
}

.timeline__item--in:before {
    transform: translateX(-50%) scale(1);
    /* background: var(--bg); */
    /* background-image: url(/vite.svg); */
    background-position: center;
    background-size: cover;
}

/* Beyond mobile */
@media (min-width: 768px) {
    .timeline__items {
        margin-left: 17rem;
        width: 17rem;
    }

    .timeline__item-time {
        position: absolute;
        top: 0;
        right: calc(100% + 1.25rem);
        text-align: right;
        width: 17rem;
        transform: translateX(0.75em);
    }
}