.intro{
    /* text-align: left; */
    padding: 1rem 0.5rem 0 0.5rem;
    display: grid;
    gap: 0.25rem;
}
.intro h2 {
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.67;
    text-wrap: pretty;
}

@media (max-width: 768px) {
    .intro{
        /* padding: 0.5rem; */
        /* gap: 0.25rem; */
        text-align: left;
    }
}