:root {
  --hue: 190;
  --trans-dur: 0.3s;
}

/* .roboto-condensed-normal {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed-bold {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
} */

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(var(--hue), 10%, 90%);
    --bg: hsl(var(--hue), 10%, 5%);
    --fg: hsl(var(--hue), 10%, 90%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(var(--hue), 10%, 5%);
    --fg: hsl(var(--hue), 10%, 5%);
    --bg: hsl(var(--hue), 10%, 90%);
  }
}

* {
  border: 0;
  text-wrap: pretty;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (2560 - 320));
}
#root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  
}
@media (max-width: 768px) {
  #root {
    margin: 0 0.5rem;
  }
}

body{
  background-color: var(--bg);
  font: 1rem/1.5 "Roboto Condensed", sans-serif;
  color: var(--fg);
  display: flex;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  padding: 0rem 0;
  transition:
    background-color var(--trans-dur),
    color var(--trans-dur);
}
a, button {
  transition: color var(--trans-dur);
  text-decoration: none;
  font: 1rem/1.5 "Roboto Condensed", sans-serif;
}

li {
  list-style: none
}